# configuration

import_file=import.osm.pbf
username=osm
password=osm
database=osm
pghost=127.0.0.1
pgport=5432

o2pProcesses=2
o2pCache=3500MB
#o2pParameters='--flat-nodes ./flat-nodes.db'

# update path including / at the end
# The update Path contains the base url where the osc are: e.g. http://download.geofabrik.de/europe/germany-updates/
updatePath=none
updateStartNumber=800
updateMaxCount=5
