# configuration

import_file=import.osm.pbf
username=osm
password=osm
database=osm
pghost=127.0.0.1
pgport=5432

o2pProcesses=2
o2pCache=3500MB
#o2pParameters='--flat-nodes ./flat-nodes.db'

#parameter for osmupdate, see osmupdate --help for details
#osmupdate_parameter='--day --base-url=http://download.geofabrik.de/europe/germany-updates'
#osmupdate_parameter='--hour'
