# configuration

import_file=import.osm.pbf
username=osm
password=osm
database=osm
pghost=127.0.0.1
pgport=5432

cache_dir=./cache
diff_dir=./diff

#parameter for osmupdate, see osmupdate --help for details
#osmupdate_parameter='--base-url=http://download.geofabrik.de/europe/germany-updates'
#osmupdate_parameter='--hour'
